@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* obecné stylování celého dokumentu */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background-color: black;
    color: white;
    display: flex;
    outline: none;
    flex-direction: column;
    margin: 0 auto;
}

section{
    height: max-content;
}






/* navigace a header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background-color: rgb(40, 40, 40);
    display: flex;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: cyan;
    font-weight: 800;
    cursor: pointer; 
    transition: 0.5s ease;
    text-shadow: 0 0 5px cyan;
    display: block;
}

.logo:hover{
    transform: scale(1.1);
}

.nav-container .navigace{
    position: absolute;
    top: 0;
    right: 0;
    width: 27rem;
    border-left: 3px solid cyan;
    border-bottom: 3px solid cyan;
    border-bottom-left-radius: 2rem;
    background-color: #161616;
    display: none;
    z-index: 101;
}

.navigace a{
    font-size: 1.8rem;
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    justify-content: center;
    display: flex;
    padding: 1rem;
}

.navigace a:hover{
    border-bottom: 0.5rem solid cyan;
    color: cyan;
}

.navigace .domovska{
    margin-top: 5rem;
}

.navigace .domovska-active{
    margin-top: 5rem;
    border-bottom: 0.5rem solid cyan;
    color: cyan;
}

.navigace .o-mne-active{
    border-bottom: 0.5rem solid cyan;
    color: cyan;
}

.navigace .vzdelani-active{
    border-bottom: 0.5rem solid cyan;
    color: cyan;
}

.navigace .zajmy-active{
    border-bottom: 0.5rem solid cyan;
    color: cyan;    
}

.navigace .kontakt-active{
    border-bottom: 0.5rem solid cyan;
    color: cyan;
    margin-bottom: 1rem;
}

.navigace .nav-kontakt{
    margin-bottom: 1rem;
    padding: 1rem;
}

.hamburger{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}

.hamburger span{
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: all 0.3s ease;
    z-index: 1000;
}

#menu-toggle{
    display: none;
}

#menu-toggle:checked + .hamburger + .nav-container #nav-list{
    display: block;
}







/* styl pro dokument index.html */
.home{
    background-image: url(Satoru_Gojo_arrives_on_the_battlefield_29.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    justify-content: space-between;
    align-items: center;
    padding-top: 15rem;
    padding-bottom: 6rem;
    min-height: 100vh;
}

.home-content{
    border-radius: 4rem;
    border: 2px solid cyan;
    background-color: black;
    position: relative;
    box-shadow: 0px 0px 5px cyan;
    padding: 2rem;
    min-width: auto;
}

.home-content h1{
    font-size: 5rem;
    font-weight: 700;
}



.omne{
    font-size: 2rem;
}

.home-content h3{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.social-icons{
    border: 2px solid cyan;
    background-color: black;
    border-radius: 4rem;
    position: relative;
    max-width: max-content;
    box-shadow: 0px 0px 5px cyan;
    display: block;
}

@media(max-width:451px){
    .social-icons{
        max-width: 20rem;
    }
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0.2rem solid cyan;
    font-size: 2rem;
    border-radius: 50%;
    transition: 0.3 ease;
    color: cyan;
    margin: 40px;
}

@media(max-width:551px){
    .social-icons a{
        width: 35px;
        height: 35px;
        font-size: 1.5rem;
        margin: 30px;
    }
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: cyan;
    box-shadow: 0 0 25px cyan;
}

.typing-text {
    font-size: 28px;
    min-width: 400px;
}

@media (max-width: 480px) {
    .typing-text {
        font-size: 22px;
        min-width: 300px;
    }
}

.typing text span{
    position: relative;
}

.typing-text span::before{
    content: "student";
    color: cyan;
    animation: words 20s infinite;
}

.typing-text::after{
    content: "";
    background-color: black;
    position: absolute;
    height: 4rem;
    border-right: 3px solid black;
    right: -8;
    animation: cursor 0.8s infinite;
    
}

@keyframes cursor{
    to{
        border-left: 3px solid cyan;
    }
}

@keyframes words{
    0%, 20%{
        content: "Amatérský youtuber";
    }
    21%, 40%{
        content: "Začínající kóder";
    }
    41%, 60%{
        content: "Fotbalista";
    }
    61%, 80%{
        content: "Klasický puberťák";
    }
    81%, 100%{
        content: "Editor videí";
    }
}








/* obecné stylování pro těchto pár třídních selektorů */
.content{
    margin: 0px auto;
}

.title span{
    font-size: 4rem;
    position: relative;
    font-weight: 800;
    border-bottom: 3px solid cyan;
}

.title{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15rem;
    margin-bottom: 5rem;
}

span{
    color: cyan;
}








/* styl pro dokument o-mne.html */
.content-omne{
    margin: 3rem;
}

.img-omne{
    width: 48rem;
    border-radius: 50%;
    transition: 1s ease;
    margin-bottom: 5rem;
}

@media(max-width:535px){
    .img-omne{
        width: 30rem;
    }
}

.img-omne:hover{
    transform: scale(1.05);
    box-shadow: 0 0 30px cyan;
}

.o-mne .about-details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.right{
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 5rem;
}





/* styl pro dokument vzdelani.html */
.vzdelani{
    min-height: 100vh;
}

.content-vzdelani{
    padding: 3rem;
}

.whole-ladovka img{
    max-width: 32rem;
    float: left;
    border: 3px solid cyan;
    border-radius: 10px;
    margin-right: 1rem;
}

.whole-ladovka{
    justify-content: center;
    align-items: center;
    margin-bottom: 20rem;
}

.text-ladovka{
    font-size: 1.7rem;
}

.whole-kladenka img{
    max-width: 32rem;
    float: right;
    border: 3px solid cyan;
    border-radius: 10px;
    margin-right: 1rem;
}

.whole-kladenka{
    justify-content: center;
    align-items: center;
}

.text-kladenka{
    font-size: 1.7rem;
}










/* styl pro dokument zajmy.html */
.zajmy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    width: 100%;
    margin: 0;
}

.boxes{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5rem;
}

.boxes-dva{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5rem;
}

.boxes-tri{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5rem;
}

.box{
    height: 20rem;
    width: 15rem;
    justify-content: center;
    background-color: cyan;
    transition: 1s ease;
    color: cyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    justify-content: flex-start;
    padding: 1rem;
    text-align: center;
}

.icon{
    border: 1px solid black;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    display: flex;
    color: black;
    background-color: cyan;
    transition: 0.5s ease;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.topic{
    color: black;
    font-size: 1.5rem;
}

.box p{
    color: black;
    font-size: 1.1rem;
}









/* styl pro dokument kontakt.html */
.kontakt{
    padding: 20px;
}

.content-form{
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: black; 
    padding: 20px;
    border-radius: 8px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

form input, form textarea{
    width: 100%;
    max-width: 400px; 
    padding: 12px;
    margin: 10px 0;
    border: 2px solid cyan; 
    border-radius: 4px;
    background-color: white;
    color: black;
}

form textarea{
    height: 120px; 
}

button{
    padding: 14px 28px; 
    background-color: black; 
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px; 
    cursor: pointer;
    transition: 1s ease;
    margin-top: 2rem;
}

button:hover{
    background-color: cyan;
    color: black;
    box-shadow: 0 0 10px cyan;
}












/* styl pro patičku u všech dokumentů */
span a{
    color: rgb(177, 182, 255);
}

footer{
    background-color: rgb(40, 40, 40);
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: block;
    padding: 7rem;
}

.textdole{
    font-size: 2rem;
}

.social-icons-footer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0.2rem solid cyan;
    font-size: 2rem;
    border-radius: 50%;
    transition: 0.3s ease;
    color: cyan;
    margin: 0px 20px 20px 20px;
}

.social-icons-footer a:hover{
    color: black;
    background-color: cyan;
    box-shadow: 0 0 20px cyan;
}

/* styl pro responzivitu */
@media(min-width:1000px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        border: none;
        outline: none;
        font-family: 'Poppins', sans-serif;
    }
    
    html{
        font-size: 62.5%;
        scroll-behavior: smooth;
    }
    
    body{
        width: 100%;
        overflow-x: hidden;
        background-color: black;
        color: white;
    }
    
    ::-webkit-scrollbar{
        width: 14px;
    }
    
    ::-webkit-scrollbar-track{
        background: #f1f1f1;
    }
    
    ::-webkit-scrollbar-thumb{
        background: cyan;
        transition: all 0.3 ease;
    }
    
    ::-webkit-scrollbar-thumb:hover{
        border: 0.5px solid black;
    }
    
    section{
        width: 100%;
        height: max-content;
    }
    
    
    
    
    
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgb(40, 40, 40);
        z-index: 100;
        padding: 4rem;
    }
   
    .logo{
        font-size: 3rem;
        color: cyan;
        font-weight: 800;
        cursor: pointer; 
        transition: 0.5s ease;
        text-shadow: 0 0 5px cyan;
        margin: 0;
        padding: 0;
        display: inline-block;
    }
    
    .logo:hover{
        transform: scale(1.1);
    }

    #menutoggle{
        display: none;
    }

    .hamburger{
        display: none;
    }

    header nav .nav-container{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        flex-direction: row;
    }
    
    .divlogo{
        display: inline-flex;
        margin-right: 80rem;
    }
    
    .nav-container .navigace{
        display: inline-flex;
        border-left: 0;
        border-bottom: 0;
        background-color: transparent;
        width: max-content;
        position: relative;
        justify-content: end;
    }

    .navigace a{
        display: block;
        font-size: 1.8rem;
        color: white;
        font-weight: 500;
        transition: 0.3s ease;
        border-bottom: 3px solid transparent;
        margin: 0 4rem 0 4rem;
        padding: 1rem;
        width: max-content;
    }

    .navigace a:hover{
        border-bottom: 0.5rem solid cyan;
        color: cyan;
    }

    .navigace .domovska{
        margin-top: 0;
    }
    
    .navigace .domovska-active{
        margin-top: 0;
    }

    
    
    
    
    
    


    
    .home{
        justify-content: space-between;
        background-image: url(Satoru_Gojo_arrives_on_the_battlefield_29.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: scroll;
        background-size: cover;
        display: flex;
        flex-direction: row; 
        align-items: center;
    }
    
    .home-content{
        border-radius: 4rem;
        border: 2px solid cyan;
        background-color: black;
        padding: 25px;
        position: relative;
        box-shadow: 0px 0px 5px cyan;
        display: inline-block;
        max-width: max-content;
        height: max-content;
    }
    
    .home-content h1{
        font-size: 6rem;
        font-weight: 700;
        line-height: 1.3;
    }
    
    span{
        color: cyan;
    }
    
    .omne{
        font-size: 2rem;
    }
    
    .home-content h3{
        font-size: 4rem;
        margin-bottom: 1rem;
        font-weight: 700;
    }
    
    .social-icons{
        border: 2px solid cyan;
        background-color: black;
        border-radius: 4rem;
        max-width: max-content;
        height: max-content;
        box-shadow: 0px 0px 5px cyan;
        display: flex;
        position: relative;
        flex-direction: column;
        z-index: 99;
        margin-right: 5%;
    }

    .social-icons a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: 0.2rem solid cyan;
        font-size: 2rem;
        border-radius: 50%;
        transition: 0.3 ease;
        color: cyan;
        margin: 40px 40px 40px 40px;
    }
    
    .social-icons a:hover{
        color: black;
        transform: scale(1.3) translateY(-5px);
        background-color: cyan;
        box-shadow: 0 0 25px cyan;
    }
    
    .typing-text{
        font-size: 34px;
        font-weight: 600;
        min-width: 550px;
    }
    
    .typing text span{
        position: relative;
    }
    
    .typing-text span::before{
        content: "student";
        color: cyan;
        animation: words 20s infinite;
    }
    
    .typing-text::after{
        content: "";
        background-color: black;
        position: absolute;
        height: 15%;
        border-left: 3px solid black;
        right: -8;
        animation: cursor 0.8s infinite;
        
    }






   .title{
        display: flex;
        justify-content: center;
        margin: 15rem auto 5rem auto;
    }
    
    .content{
        width: 80%;
        margin: 0px auto;
    }
    
    .title span{
        font-size: 4rem;
        position: relative;
        font-weight: 800;
        border-bottom: 3px solid cyan;
    }
    
 



              

    .img-omne{
    width: 1000px;
    height: 50vh;
    border-radius: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-right: 15rem;
    margin-left: 5rem;
    }

    .about-details{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .right{
        justify-content: end;
        text-align: center;
        align-items: center;
        margin-right: 5rem;
    }







    
    
    .box{
        height: 30rem;
        width: 25rem;
        justify-content: flex-start;
        background-color: transparent;
        transition: 0.4s ease;
        color: transparent;
        text-align: center;
        border-radius: 10%;
        border: 3px solid cyan;
        padding: 1rem;
    }

    .box:hover{
        display: block;
        width: 25rem;
        height: 30rem;
        border-radius: 10%;
        background-color: cyan;
        display: flex;
        flex-direction: column;
        transform: scale(1.05);
    }

    .box:hover .icon{
        border: 1px solid black;
        background-color: cyan;
        color: black;
    }

    .icon{
        border: 1px solid cyan;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 2rem;
        display: inline-flex;
        color: cyan;
        background-color: black;
        transition: 0.4s ease;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .topic{
        color: cyan;
        font-size: 2rem;
        transition: 0.4s ease;
        margin-bottom: 1rem;
    }
    
    .box p{
        color: cyan;
        font-size: 1.5rem;
        transition: 0.4s ease;
    }

    .box:hover .topic{
        color: black;
        display: flex;
        flex-direction: column;
    }
    
    .box:hover p{
        color: black;
        display: block;
    }



    
    .kontakt{
        min-height: 100vh;
    }
    
    .content {
        padding: 40px;
    }

    .text .topic {
        font-size: 24px;
    }

    form input, form textarea {
        max-width: 100%;
        width: 100%;
    }

    form textarea {
        height: 150px;
    }

    button {
        padding: 12px 30px;
        font-size: 18px;
    }





    
    
    
    
    .social-icons-footer a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: 0.2rem solid cyan;
        font-size: 2rem;
        border-radius: 50%;
        transition: 0.3s ease;
        color: cyan;
        margin: 0px 20px 20px 20px;
    }

    .social-icons-footer a:hover{
        color: black;
        background-color: cyan;
        box-shadow: 0 0 20px cyan;
    }
    
    footer{
        background-color: rgb(40, 40, 40);
        position: static;
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
        display: flex;
        padding: 7rem;
    }
    
    .textdole{
        font-size: 2rem;
    }
    
    span a{
        color: rgb(177, 182, 255);
    }
}
